USE [master]
GO
/****** Object:  Database [TicketManagementMSDB]    Script Date: 2026-03-06 11:07:11 ******/
CREATE DATABASE [TicketManagementMSDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TicketManagementMSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TicketManagementMSDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TicketManagementMSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TicketManagementMSDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicketManagementMSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicketManagementMSDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2026-03-06 11:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attachments]    Script Date: 2026-03-06 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[ContentType] [nvarchar](max) NOT NULL,
	[FileUrl] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[UploadedBy] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Attachments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceAssignments]    Script Date: 2026-03-06 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceAssignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[AssignedBy] [nvarchar](max) NOT NULL,
	[AssignedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DeviceAssignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceCommands]    Script Date: 2026-03-06 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceCommands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NOT NULL,
	[CommandName] [nvarchar](max) NOT NULL,
	[Payload] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[ExecutedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_DeviceCommands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceLocations]    Script Date: 2026-03-06 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceLocations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NOT NULL,
	[LocationId] [nvarchar](450) NOT NULL,
	[AssignedBy] [nvarchar](max) NOT NULL,
	[AssignedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DeviceLocations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceLogs]    Script Date: 2026-03-06 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NOT NULL,
	[LogType] [nvarchar](max) NOT NULL,
	[Payload] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DeviceLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 2026-03-06 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[SerialNo] [nvarchar](450) NOT NULL,
	[AssignedUserId] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[RegisteredOn] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[LastSeen] [datetime2](7) NULL,
 CONSTRAINT [PK_Devices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailTemplates]    Script Date: 2026-03-06 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[SubjectTemplate] [nvarchar](500) NULL,
	[BodyTemplate] [nvarchar](max) NOT NULL,
	[IsHtml] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EmailTemplates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EscalationLogs]    Script Date: 2026-03-06 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EscalationLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[EscalationMatrixId] [int] NOT NULL,
	[EscalatedAt] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_EscalationLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EscalationMatrices]    Script Date: 2026-03-06 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EscalationMatrices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LevelName] [nvarchar](120) NOT NULL,
	[EscalationTimeInMinutes] [int] NOT NULL,
	[EscalateToEmail] [nvarchar](max) NOT NULL,
	[Level] [int] NOT NULL,
	[SLAId] [int] NOT NULL,
 CONSTRAINT [PK_EscalationMatrices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstimatedResolutionTimes]    Script Date: 2026-03-06 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstimatedResolutionTimes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](450) NOT NULL,
	[SubCategory] [nvarchar](450) NOT NULL,
	[Severity] [nvarchar](450) NOT NULL,
	[Priority] [nvarchar](450) NOT NULL,
	[ResolutionTimeInMinutes] [int] NOT NULL,
 CONSTRAINT [PK_EstimatedResolutionTimes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PendingNotifications]    Script Date: 2026-03-06 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PendingNotifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ToEmail] [nvarchar](max) NOT NULL,
	[Subject] [nvarchar](max) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[RetryCount] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[LastAttemptedOn] [datetime2](7) NULL,
 CONSTRAINT [PK_PendingNotifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLAs]    Script Date: 2026-03-06 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLAs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](120) NOT NULL,
	[ResolutionTimeInMinutes] [int] NOT NULL,
 CONSTRAINT [PK_SLAs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 2026-03-06 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[IncidentOn] [datetime2](7) NOT NULL,
	[ClosedAt] [datetime2](7) NULL,
	[SLAId] [int] NULL,
	[ActualElapsedMinutes] [float] NOT NULL,
	[AssignedToId] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[CompanyAssignedDevice] [nvarchar](max) NOT NULL,
	[CustomFieldsJson] [nvarchar](max) NOT NULL,
	[DeviceId] [nvarchar](max) NOT NULL,
	[EstimatedResolutionTime] [datetime2](7) NULL,
	[ExactLocation] [nvarchar](max) NOT NULL,
	[IncidentLoggedBy] [nvarchar](max) NOT NULL,
	[IncidentLoggedOn] [datetime2](7) NOT NULL,
	[Landmark] [nvarchar](max) NOT NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Priority] [nvarchar](max) NOT NULL,
	[ProjectName] [nvarchar](max) NOT NULL,
	[ReporterId] [nvarchar](max) NOT NULL,
	[Resolution] [nvarchar](max) NOT NULL,
	[ResolvedAt] [datetime2](7) NULL,
	[Severity] [nvarchar](max) NOT NULL,
	[SlaBreached] [bit] NOT NULL,
	[SubCategory] [nvarchar](max) NOT NULL,
	[TagsJson] [nvarchar](max) NOT NULL,
	[TicketType] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Attachments_TicketId]    Script Date: 2026-03-06 11:07:13 ******/
CREATE NONCLUSTERED INDEX [IX_Attachments_TicketId] ON [dbo].[Attachments]
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DeviceAssignments_DeviceId_UserId]    Script Date: 2026-03-06 11:07:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DeviceAssignments_DeviceId_UserId] ON [dbo].[DeviceAssignments]
(
	[DeviceId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DeviceLocations_DeviceId_LocationId]    Script Date: 2026-03-06 11:07:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DeviceLocations_DeviceId_LocationId] ON [dbo].[DeviceLocations]
(
	[DeviceId] ASC,
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Devices_SerialNo]    Script Date: 2026-03-06 11:07:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Devices_SerialNo] ON [dbo].[Devices]
(
	[SerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmailTemplates_Name]    Script Date: 2026-03-06 11:07:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EmailTemplates_Name] ON [dbo].[EmailTemplates]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EscalationLogs_EscalationMatrixId]    Script Date: 2026-03-06 11:07:13 ******/
CREATE NONCLUSTERED INDEX [IX_EscalationLogs_EscalationMatrixId] ON [dbo].[EscalationLogs]
(
	[EscalationMatrixId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EscalationLogs_TicketId_EscalationMatrixId]    Script Date: 2026-03-06 11:07:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EscalationLogs_TicketId_EscalationMatrixId] ON [dbo].[EscalationLogs]
(
	[TicketId] ASC,
	[EscalationMatrixId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EscalationMatrices_SLAId_Level]    Script Date: 2026-03-06 11:07:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EscalationMatrices_SLAId_Level] ON [dbo].[EscalationMatrices]
(
	[SLAId] ASC,
	[Level] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EstimatedResolutionTimes_Category_SubCategory_Severity_Priority]    Script Date: 2026-03-06 11:07:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EstimatedResolutionTimes_Category_SubCategory_Severity_Priority] ON [dbo].[EstimatedResolutionTimes]
(
	[Category] ASC,
	[SubCategory] ASC,
	[Severity] ASC,
	[Priority] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_SLAId]    Script Date: 2026-03-06 11:07:13 ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_SLAId] ON [dbo].[Tickets]
(
	[SLAId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmailTemplates] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsHtml]
GO
ALTER TABLE [dbo].[EmailTemplates] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EmailTemplates] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[EscalationMatrices] ADD  DEFAULT ((0)) FOR [Level]
GO
ALTER TABLE [dbo].[EscalationMatrices] ADD  DEFAULT ((0)) FOR [SLAId]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [ActualElapsedMinutes]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (N'') FOR [AssignedToId]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (N'') FOR [Category]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (N'') FOR [CompanyAssignedDevice]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (N'') FOR [CustomFieldsJson]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (N'') FOR [DeviceId]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (N'') FOR [ExactLocation]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (N'') FOR [IncidentLoggedBy]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [IncidentLoggedOn]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (N'') FOR [Landmark]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (N'') FOR [Priority]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (N'') FOR [ProjectName]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (N'') FOR [ReporterId]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (N'') FOR [Resolution]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (N'') FOR [Severity]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (CONVERT([bit],(0))) FOR [SlaBreached]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (N'') FOR [SubCategory]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (N'') FOR [TagsJson]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (N'') FOR [TicketType]
GO
ALTER TABLE [dbo].[Attachments]  WITH CHECK ADD  CONSTRAINT [FK_Attachments_Tickets_TicketId] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attachments] CHECK CONSTRAINT [FK_Attachments_Tickets_TicketId]
GO
ALTER TABLE [dbo].[DeviceAssignments]  WITH CHECK ADD  CONSTRAINT [FK_DeviceAssignments_Devices_DeviceId] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[Devices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeviceAssignments] CHECK CONSTRAINT [FK_DeviceAssignments_Devices_DeviceId]
GO
ALTER TABLE [dbo].[DeviceLocations]  WITH CHECK ADD  CONSTRAINT [FK_DeviceLocations_Devices_DeviceId] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[Devices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeviceLocations] CHECK CONSTRAINT [FK_DeviceLocations_Devices_DeviceId]
GO
ALTER TABLE [dbo].[EscalationLogs]  WITH CHECK ADD  CONSTRAINT [FK_EscalationLogs_EscalationMatrices_EscalationMatrixId] FOREIGN KEY([EscalationMatrixId])
REFERENCES [dbo].[EscalationMatrices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EscalationLogs] CHECK CONSTRAINT [FK_EscalationLogs_EscalationMatrices_EscalationMatrixId]
GO
ALTER TABLE [dbo].[EscalationLogs]  WITH CHECK ADD  CONSTRAINT [FK_EscalationLogs_Tickets_TicketId] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EscalationLogs] CHECK CONSTRAINT [FK_EscalationLogs_Tickets_TicketId]
GO
ALTER TABLE [dbo].[EscalationMatrices]  WITH CHECK ADD  CONSTRAINT [FK_EscalationMatrices_SLAs_SLAId] FOREIGN KEY([SLAId])
REFERENCES [dbo].[SLAs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EscalationMatrices] CHECK CONSTRAINT [FK_EscalationMatrices_SLAs_SLAId]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_SLAs_SLAId] FOREIGN KEY([SLAId])
REFERENCES [dbo].[SLAs] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_SLAs_SLAId]
GO
USE [master]
GO
